<script>
  async function salvarCategoria() {
    const form = document.querySelector("#modal-categoria form");
    const formData = new FormData(form);
    const response = await fetch('{% url "produtos:categoria-list" %}', {
      method: "POST",
      body: formData,
    });
    if (response.ok) {
      window.location.reload();
      return;
    }

    if (response.status == 400) {
      const responseText = await response.text();
      alert(responseText);
      return;
    }
  }

  async function editarCategoria(categoriaID) {
    const response = await fetch(
      `{% url "produtos:categoria-manage" 0 %}`.replace("0", categoriaID)
    );

    if (!response.ok) {
      alert("Erro ao buscar Categoria");
      return;
    }

    const categoriaResponse = response.json();
    categoriaResponse.then(categoriaContent => {
      $("#modal-categoria").modal("show");

      const form = document.querySelector("#modal-categoria form");
      for (const key in categoriaContent) {
        let input = form.querySelector(`#${key}`);
        if (!input) {
          input = form.querySelector(`[name=${key}_categoria]`);
        }
        if (!input) {
          console.log(`Campo ${key} não encontrado`);
          continue;
        }
        if (input.type == "checkbox") {
          input.checked = categoriaContent[key] != "False";
          console.log(input);
          return;
        }
        input.value = categoriaContent[key];
      }
    });
  }
</script>

<div class="modal fade" id="modal-categoria" tabindex="2" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Cadastrar nova categoria</h3>
      </div>
      <div class="modal-body">
        <p class="lead">Preencha todos os campos obrigatórios!</p>
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" id="id" name="id"/>
          <div class="field col-12 border rounded text-center py-2">
            <input type="checkbox" name="status" class="form-check-input" id="status" checked="true"/>
            <label class="form-check-label" for="status">Ativo</label>
          </div>
          <div class="fields row pb-3">
            <div class="field col-12">
              <label for="nome_categoria">Nome da Categoria</label>
              <input
                id="nome_categoria"
                type="text"
                name="nome_categoria"
                class="form-control"
                required
              />
            </div>
            <div class="field col-12">
              <label for="descricao_categoria">Descrição</label>
              <input
                id="descricao_categoria"
                type="text"
                name="descricao_categoria"
                class="form-control"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a
          href="javascript:fecharModal('#modal-categoria')"
          class="btn btn-secondary"
          >Cancelar</a
        >
        <button
          type="button"
          onclick="salvarCategoria()"
          class="btn btn-success"
        >
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>