{% extends "base.html" %}

{% load static format_date status %}

{% block page_title %} Categorias {% endblock page_title %}

{% block content %}

<h1>Lista de Categorias</h1>

{% if categorias %}
<table class="table table-hover">
  <thead>
    <tr class="table-light">
      <th scope="col">#</th>
      <th scope="col">Status</th>
      <th scope="col">Categoria</th>
      <th scope="col">Data de Cadastro</th>
      <th scope="col">Última alteração</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for categoria in categorias %}
    <tr>
      <td scope="row">{{categoria.id}}</td>
      <td>{% status is_active=categoria.status %}</td>
      <td>{{categoria.nome_categoria}}</td>
      <td>{{categoria.data_cadastro|format_date}}</td>
      <td>{{categoria.data_ultima_alteracao|format_date}}</td>
      <td>
        <a href="javascript:editarCategoria('{{categoria.id}}')" class="btn btn-sm btn-warning"
          >Editar</a
        >
        <a
          href="javascript:deleteCategoria('{{categoria.id}}')"
          class="btn btn-sm btn-danger"
          >Excluir</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Sem dados cadastrados</p>
{% endif %}

<a href="javascript:abrirModal('#modal-categoria')" class="btn btn-primary"
  >Novo cadastro</a
>

{% include "produtos/categoria_modal.html" %}

<script>
  const deleteCategoria = (categoriaID) => {
    if (!confirm("Deseja realmente excluir esta categoria?")) return;

    fetch(`${categoriaID}/`, {
      method: "DELETE",
    }).then((response) => {
      if (response.ok) {
        window.location.reload();
        return;
      }

      if (response.status == 400) {
        const responseText = response.text();
        responseText.then((text) => alert(text));
      }
    });
  };
</script>
{% endblock content %}