{% extends "base.html" %}

{% load static format_date status %}

{% block page_title %} Tipos {% endblock page_title %}

{% block content %}

  <h1>Lista de Tipos</h1>
  {% if tipos_produtos %}
    <table class="table table-hover">
      <thead>
        <tr class="table-light">
          <th scope="col">#</th>
          <th scope="col">Status</th>
          <th scope="col">Tipos</th>
          <th scope="col">Data de Cadastro</th>
          <th scope="col">Última alteração</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for tipo in tipos_produtos %}
        <tr>
          <th scope="row">{{tipo.id}}</th>
          <td>{% status is_active=tipo.status %}</td>
          <td>{{tipo.nome_tipo}}</td>
          <td>{{tipo.data_cadastro|format_date}}</td>
          <td>{{tipo.data_ultima_alteracao|format_date}}</td>
          <td>
            <a href="javascript:editarTipoProduto('{{tipo.id}}')" class="btn btn-sm btn-warning"
              >Editar</a
            >
            <a
              href="javascript:deleteTipoProduto('{{tipo.id}}')"
              class="btn btn-sm btn-danger"
              >Excluir</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Sem dados cadastrados</p>
  {% endif %} {% include "produtos/tipo_produto_modal.html" %}

  <a href="javascript:abrirModal('#modal-tipo-produto')" class="btn btn-primary"
    >Novo cadastro</a
  >

  <script>
    const deleteTipoProduto = (tipoProdutoID) => {
      if (!confirm("Deseja realmente excluir este tipo de produto?")) return;

      fetch(`${tipoProdutoID}/`, {
        method: "DELETE",
      }).then((response) => {
        if (response.ok) {
          window.location.reload();
          return;
        }

        if (response.status == 400) {
          const responseText = response.text();
          responseText.then((text) => alert(text));
          return;
        }
      });
    };
  </script>
{% endblock content %}