<script>
  async function salvarFornecedor() {
    const form = document.querySelector("#modal-fornecedor form");
    const formData = new FormData(form);
    const response = await fetch('{% url "fornecedor:list" %}', {
      method: "POST",
      body: formData,
    });
    if (!response.ok) {
      alert("Erro ao salvar Fornecedor");
      return;
    }

    const optionElem = document.querySelector(
      "#fornecedor_id option[value='new']"
    );
    optionElem.value = response.id;
    optionElem.innerText = formData.get("nome_produto");
    abrirModal("#modal-compras");
    window.location.reload();
  }
</script>

<div class="modal fade" id="modal-fornecedor" tabindex="2" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Cadastrar novo fornecedor</h3>
      </div>
      <div class="modal-body">
        <p class="lead">Preencha todos os campos obrigatórios!</p>
        <form method="POST">
          {% csrf_token %}
          <div class="fields row pb-3">
            <div class="field col-6">
              <label for="razao_social_fornecedor">Razão Social</label>
              <input
                id="razao_social_fornecedor"
                type="text"
                name="razao_social_fornecedor"
                class="form-control"
              />
            </div>
            <div class="field col-6">
              <label for="nome_fantasia_fornecedor">Nome Fantasia</label>
              <input
                id="nome_fantasia_fornecedor"
                type="text"
                name="nome_fantasia_fornecedor"
                class="form-control"
              />
            </div>
            <div class="field col-6">
              <label for="cnpj_fornecedor">CNPJ</label>
              <input
                id="cnpj_fornecedor"
                type="text"
                name="cnpj_fornecedor"
                data-type="cnpj"
                class="form-control"
              />
            </div>
            <div class="field col-6">
              <label for="ie_fornecedor">IE</label>
              <input
                id="ie_fornecedor"
                type="text"
                name="ie_fornecedor"
                class="form-control"
              />
            </div>
            <div class="field col-6">
              <label for="email_fornecedor">Email</label>
              <input
                id="email_fornecedor"
                type="email"
                name="email_fornecedor"
                class="form-control"
              />
            </div>
            <div class="field col-6">
              <label for="data_fundacao_fornecedor">Data da fundação</label>
              <input
                id="data_fundacao_fornecedor"
                type="date"
                name="data_fundacao_fornecedor"
                class="form-control"
              />
            </div>
            <div class="field col-6">
              <label for="telefone_fornecedor">Telefone</label>
              <input
                id="telefone_fornecedor"
                type="text"
                data-type="phone"
                name="telefone_fornecedor"
                class="form-control"
              />
            </div>
            <div class="field col-6">
              <label for="limite_credito_fornecedor">Limite de crédito</label>
              <input
                id="limite_credito_fornecedor"
                type="number"
                name="limite_credito_fornecedor"
                class="form-control"
              />
            </div>
            <div class="field col-6">
              <label for="rua_fornecedor">Rua</label>
              <input
                id="rua_fornecedor"
                type="text"
                name="rua_fornecedor"
                class="form-control"
              />
            </div>
            <div class="field col-6">
              <label for="complemento_fornecedor">Complemento</label>
              <input
                id="complemento_fornecedor"
                type="text"
                name="complemento_fornecedor"
                class="form-control"
              />
            </div>
            <div class="field col-6">
              <label for="cep_fornecedor">CEP</label>
              <input
                id="cep_fornecedor"
                data-type="cep"
                type="text"
                name="cep_fornecedor"
                class="form-control"
              />
            </div>
            <div class="field col-6">
              <label for="numero_rua_fornecedor">Número</label>
              <input
                id="numero_rua_fornecedor"
                type="text"
                name="numero_rua_fornecedor"
                class="form-control"
              />
            </div>
            <div class="field col-6">
              <label for="bairro_fornecedor">Bairro</label>
              <input
                id="bairro_fornecedor"
                type="text"
                name="bairro_fornecedor"
                class="form-control"
              />
            </div>
            <div class="field col-6">
              <label for="estado_id">Estado</label>
              <select id="estado_id" name="estado_id" class="form-select">
                <option value="">Selecione um estado</option>
                {% for estado in estados %}
                <option value="{{ estado.pk }}">
                  {{ estado.nome_estado }}
                </option>
                {% endfor %}
              </select>
            </div>
            <div class="field col-6">
              <label for="cidade_id">Cidade</label>
              <select id="cidade_id" name="cidade_id" class="form-select">
                <option value="">Selecione uma cidade</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <a
              href="javascript:abrirModal('#modal-compras')"
              class="btn btn-secondary"
              >Cancelar</a
            >
            <button
              type="button"
              onclick="salvarFornecedor()"
              class="btn btn-success"
            >
              Salvar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
