{% extends "base.html" %}

{% load static format_date status %}

{% block page_title %}Cliente{%endblock page_title %}

{% block content %}
<h1>Lista de Clientes</h1>
{% if clientes %}
<table class="table table-hover">
  <thead>
    <tr class="table-light">
      <th scope="col">#</th>
      <th scope="col">Status</th>
      <th scope="col">Nome</th>
      <th scope="col">Sobrenome</th>
      <th scope="col">É estrangeiro?</th>
      <th scope="col">CPF</th>
      <th scope="col">RG</th>
      <th scope="col">Data de Cadastro</th>
      <th scope="col">Última alteração</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for cliente in clientes %}
    <tr>
      <td>{{cliente.id}}</td>
      <td align="center">{% status is_active=cliente.status %}
      <td>{{cliente.nome_cliente}}</td>
      <td>{{cliente.sobrenome_cliente}}</td>
      <td>
        {% if cliente.estrangeiro_cliente == 'on' %}
          Sim
        {% else %}
          Não
        {% endif %}
      </td>
      <td>{{cliente.cpf_cliente|default:'-'}}</td>
      <td>{{cliente.rg_cliente|default:'-'}}</td>
      <td>{{cliente.data_cadastro|format_date}}</td>
      <td>{{cliente.data_ultima_alteracao|format_date}}</td>
      <td>
        <a
          href="javascript:editarCliente('{{cliente.id}}')"
          class="btn btn-sm"
          style="background-color: #ffd700"
          >Editar</a
        >
        <a
          href="javascript:deleteCliente({{cliente.id}})"
          class="btn btn-sm btn-danger"
          >Excluir</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Sem dados cadastrados</p>
{% endif %}
<a href="javascript:abrirModal('#modal-cliente')" class="btn btn-primary"
  >Novo cadastro</a
>

{% include 'cliente/cliente_modal.html' %}

<script>
  const deleteCliente = (clienteID) => {
    if (!confirm("Deseja realmente excluir este cliente?")) return;

    fetch(`${clienteID}/`, {
      method: "DELETE",
    }).then((response) => {
      if (response.ok) {
        window.location.reload();
        return;
      }
      if (response.status == 400) {
        const responseText = response.text();
        responseText.then((text) => alert(text));
      }
    });
  };
</script>
{% endblock content %}