{% extends "base.html" %}

{% load static format_date status %}

{% block page_title %} Fornecedor {% endblock page_title %}

{% block content %}

<h1>Lista de Fornecedores</h1>

{% if fornecedores %}
<table class="table table-hover">
  <thead>
    <tr class="table-light">
      <th scope="col">#</th>
      <th scope="col">Status</th>
      <th scope="col">Razão Social</th>
      <th scope="col">Nome Fantasia</th>
      <th scope="col">CNPJ</th>
      <th scope="col">Cidade</th>
      <th scope="col">Data de Cadastro</th>
      <th scope="col">Última alteração</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for fornecedor in fornecedores %}
    <tr>
      <td scope="row">{{fornecedor.id}}</td>
      <td>{% status is_active=fornecedor.status %}</td>
      <td>{{fornecedor.razao_social_fornecedor}}</td>
      <td>{{fornecedor.nome_fantasia_fornecedor}}</td>
      <td>{{fornecedor.cnpj_fornecedor}}</td>
      <td>{{fornecedor.cidade}}</td>
      <td>{{fornecedor.data_cadastro|format_date}}</td>
      <td>{{fornecedor.data_ultima_alteracao|format_date}}</td>
      <td>
        <a href="javascript:editarFornecedor('{{fornecedor.id}}')" class="btn btn-sm btn-warning"
          >Editar</a
        >
        <a
          href="javascript:deleteFornecedor('{{fornecedor.id}}')"
          class="btn btn-sm btn-danger"
          >Excluir</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Sem dados cadastrados</p>
{% endif %}
<a href="javascript:abrirModal('#modal-fornecedor')" class="btn btn-primary"
  >Novo cadastro</a
>

{% include 'fornecedor/fornecedor_modal.html' %}

<script>
  const deleteFornecedor = (fornecedorID) => {
    if (!confirm("Deseja realmente excluir este fornecedor?")) return;

    fetch(`${fornecedorID}/`, {
      method: "DELETE",
    }).then((response) => {
      if (response.ok) {
        window.location.reload();
        return;
      }

      if (response.status === 404) {
        const responseText = response.text();
        responseText.then((text) => alert(text));
      }
    });
  };
</script>
{% endblock content %}