{% extends "base.html" %}

{% load static format_date %}

{% block page_title %} Cargo {% endblock page_title %}

{% block content %}
<h1>Lista de Cargos</h1>

{% if cargos %}
<table class="table table-hover">
  <thead>
    <tr class="table-light">
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Salário</th>
      <th scope="col">Data de Cadastro</th>
      <th scope="col">Última alteração</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for cargo in cargos %}
    <tr>
      <th scope="row">{{cargo.id}}</th>
      <td>{{cargo.nome_cargo}}</td>
      <td>{{cargo.descricao_cargo|slice:":60"}}</td>
      <td>{{cargo.salario_base_cargo}}</td>
      <td>{{cargo.data_cadastro|format_date}}</td>
      <td>{{cargo.data_ultima_alteracao|format_date}}</td>
      <td>
        <a href="javascript:editarCargo('{{cargo.id}}')" class="btn btn-sm btn-warning"
          >Editar</a
        >
        <a
          href="javascript:deleteCargo('{{cargo.id}}')"
          class="btn btn-sm btn-danger"
          >Excluir</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Sem dados cadastrados</p>
{% endif %}
<a href="javascript:abrirModal('#modal-cargo')" class="btn btn-primary"
  >Novo cadastro</a
>

{% include 'funcionario/cargo_modal.html' %}

<script>
  const deleteCargo = (cargoID) => {
    if (!confirm("Deseja realmente excluir este cargo?")) return;

    fetch(`cargo/${cargoID}/`, {
      method: "DELETE",
    }).then((response) => {
      if (response.ok) {
        window.location.reload();
        return;
      }

      if (response.status == 400) {
        const responseText = response.text();
        responseText.then(text => alert(text));
        return;
      }
    });
  };
</script>
{% endblock content %}