<script>
  async function salvarPais() {
    const form = document.querySelector("#modal-pais form");
    const formData = new FormData(form);
    const response = await fetch('{% url "local:pais-list" %}', {
      method: "POST",
      body: formData,
    });
    if (response.ok) {
      window.location.reload();
      return;
    }
    if (response.status === 400) {
      const responseText = await response.text();
      alert(responseText);
      return;
    }
  }

  async function editarPais(paisID) {
    const response = await fetch(
      `{% url "local:pais-manage" 0 %}`.replace("0", paisID)
    );

    if (!response.ok) {
      alert("Erro ao editar País");
      return;
    }

    const paisContent = await response.json();
    $("#modal-pais").modal("show");

    const form = document.querySelector("#modal-pais form");
    for (const key in paisContent) {
      let input = form.querySelector(`#${key}`);
      if (!input) input = form.querySelector(`[name=${key}_pais]`);
      if (!input) {
        console.log(`Campo ${key} não encontrado`);
        continue;
      }
      if (input.type == "checkbox") {
        input.checked = clienteContent[key] != 'False';
        return;
      }
      input.value = paisContent[key];
    }
  }
</script>

<div class="modal fade" id="modal-pais" tabindex="2" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Cadastrar novo País</h3>
      </div>
      <div class="modal-body">
        <p class="lead">Preencha todos os campos obrigatórios!</p>
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="id" id="id"/>
          <div class="fields row pb-3">
            <div class="field col-6">
              <label for="nome_pais">Nome</label>
              <input
                id="nome_pais"
                type="text"
                name="nome_pais"
                class="form-control"
                required
              />
            </div>
            <div class="field col-6">
              <label for="sigla_pais">Sigla</label>
              <input
                id="sigla_pais"
                type="text"
                name="sigla_pais"
                class="form-control"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a
          href="javascript:fecharModal('#modal-pais')"
          class="btn btn-secondary"
          >Cancelar</a
        >
        <button
          type="button"
          onclick="salvarPais()"
          class="btn btn-success"
        >
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>